body {background-image:url('form_bgv.jpg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover}
h2 {color:white;font-family:'Times New Roman', Times, serif}
form{text-align:center;}
label{color:white}
legend{color:white}
fieldset{margin: 0 auto;text-align: left}
  
 